table{
	border-collapse: collapse;
	border: 11px solid white;
	}
	td{
	border: 10px solid #000;
	width: 50px;
	height: 50px;
	}
	.white{
		background-color: white;
	}
	.yellow{
		background-color: yellow;
	}
	.red{
		background-color: red;
	}
	.black{
		background-color: black;
	}
	.blue{
		background-color: blue;
	}
	.top{
		border-top: 0px;
		}
	.bottom{
		border-bottom: 0px;
	}
	.left{
		border-left: 0px;
	}
	.right{
		border-right: 0px;
	}