* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
}

@font-face {
    font-family: 'Lucida Sans Unicode';
    src: url('ufonts.com_lucida-sans-unicode-webfont.eot');
    src: url('ufonts.com_lucida-sans-unicode-webfont.eot?#iefix') format('embedded-opentype'),
         url('ufonts.com_lucida-sans-unicode-webfont.woff2') format('woff2'),
         url('ufonts.com_lucida-sans-unicode-webfont.woff') format('woff'),
         url('ufonts.com_lucida-sans-unicode-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*.clearfix:afrer{
	clear:both;
}*/

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 910px;
	height: 1310px;
}

header {
	position: relative;
	height: 290px;
}
/*PHONES*/

.phones {
	float: left;
	width: auto;
	padding-left: 5px;
	margin-top: 24px;
	margin-bottom: 10px;
}

.phones * {
	float: left;
	color: #5e696d;
	font: 400 18px/25px Arial, sans-serif;
	margin-left: 3px;
	letter-spacing: 0.5px;
}

.phones img {
	margin-top: 2px;
}

/*REGISTRATION*/

.registration {
	float: left;
	width: 495px;
	height: 18px;
	margin: 20px 0 10px 14px;
	background: linear-gradient(to top, #0c3357, #1f6787);
	border-radius: 4px;
	border-top: 1px solid #a6c3cf;
	border-left: 1px solid #d7e3e8;
	box-shadow: 3px 4px 6px 0 rgb(180, 180, 183);
	padding: 4px 0 4px 0;
}

.registration *{
	float: left;
}

.registration img {
	margin-left: 7px;
}

.registration form {
	margin-left: 3px;
	width: 281px;
}

.registration input {
	font: 11px/16px "Lucida Sans Unicode", Arial, sans-serif;
	width: 107px;
	height: 15px;
	padding-left: 3px;
	color: #51676f;
	border: 1px solid #97a2a6;
	margin: 0 10px 0 0;
}

#submit {
	padding: 0;
	line-height: 20px;
	width: 27px;
	border: none;
	background: none;
	color: #fff;
	font-size: 11px;
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

#forgot {
	text-decoration: underline;
	color: #bfbfbf;
	margin-left: 10px;
}

.registration a {
	color: #fff;
	font: 400 11px "Lucida Sans Unicode", Arial, sans-serif;
	text-decoration: none;
	line-height: 18px;
}

.registration span {
	color: #fff;
	font-size: 11px;
	line-height: 18px;
}

/*TOP-MENU*/

.top-menu {
	float: left;
	margin: 23px 0 14px 14px;
	padding-left: 7px;
	height: 19px;
	width: 75px;
	border: 1px solid #bfbfbf;
	border-radius: 10px;
	box-shadow: 3px 4px 6px 0 rgb(180, 180 183)
}

.top-menu a {
	margin-left: 4px;
}

.title {
	height: 235px;
	width: 910px;
}
/*MAIN MENU*/

.menu{
	position: relative;
	margin-top: 10px;
	width: 910px;
	height: 35px;
	background: linear-gradient(to top, #010101, #4d5663);
	border-radius: 5px;
}

.main_menu{
	float: left;
	width: 492px;
	height: 35px;
	padding-left: 126px;
}

.main_menu li{
	float: left;
	list-style: none;
}

.main_menu a{
	margin-top: 4px;
	padding: 0 19px;
	display: block;
	color: #b1bcc0;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	text-decoration: none;
}

.main_menu .oplata{
	padding:0 15px;
}

.main_menu .del{
	padding:0 14px;
}

.main_menu .art{
	padding:0 14px;
}

.main_menu .cont{
	padding:0 7px;
}

.main_menu a:hover{
	background: linear-gradient(to top, #09233b, #25617b); 
	border-radius: 20px;
	color: #fff;
}

.basket {
	float: left;
	position: relative;
	height: 35px;
	width: 278px;
	color:#73797d;
	font-size: 11px;
	padding-right: 12px;
}

.basket img {
	float: right;
	margin: 8px 0px 8px 0px;
}

.basket span {
	float: right;
	line-height: 35px;

}

.blue {
	color: #0d5a8f;
	font-size: 12px;
}

.gray1{
	padding-left: 14px;
	padding-right: 11px;
}

.gray2 {
	padding-left: 7px;
}

/*SEARCH*/

.content-search {
	position: relative;
	margin-top:12px;
	height: 135px;
}
/*SEACH FOR Auto*/

.forauto {
	float: left;
	position: relative;
	margin-left: 5px;
	width: 412px;
	height: 133px;
	font-size: 9px;
	border: 1px solid #b6b6b7;
	border-radius: 15px;
}

.forauto_disk {
	float: left;
	height: 114px;
	width: 177px;
	margin-left: 17px;
	margin-top: 3px;
	border: none;
}

dl {
	height: 95px;
	margin-top: 5px;
}

legend {
	font-family: Arial;
	font-size: 10px;
	font-weight: 900;
	color: #154468;
}

.forauto_disk dt {
	width: 72px;
	float: left;
	clear: both;
}

.forauto_disk dd {
	float: right;
}

.forauto_disk select {
	height: 16px;
	width: 100px;
	border-bottom: none;
}

.marka {
	margin-bottom: 6px;
}

.forauto_disk .year {
	width: 60px;
	margin-right: 41px;
}

.forauto_tire {
	float: left;
	height: 118px;
	width: 177px;
	margin-top: 1px;
	margin-left: 27px;
	border: none;
}

.forauto_tire dt {
	width: 72px;
	float: left;
	clear: both;
}

.forauto_tire dd {
	float: right;
}

.forauto_tire select {
	height: 16px;
	width: 100px;
	border-bottom: none;
}

.forauto_tire .year {
	width: 60px;
	margin-right: 41px;
}

.forauto_tire legend {
	text-align: right;
}

.search {
	margin-left: 122px;
	font-size: 11px;
	font-style: italic;
	color: #154467;
}

.titletire {
	position: absolute;
	top:1px;
	left: 125px;
	font-family: Arial;
	font-size: 12px;
	font-weight: 900;
	color: #154468;
}

/*Search for tire*/
.fortire {
	float: left;
	position: relative;
	margin-left: 15px;
	width: 190px;
	height: 133px;
	font-size: 9px;
	border: 1px solid #b6b6b7;
	border-radius: 15px;
}

.fortire fieldset {
	float: left;
	height: 124px;
	width: 177px;
	margin-left: 10px;
	margin-top: 1px;
	border: none;
}

.fortire dt {
	width: 49px;
	float: left;
	clear: both;
}

.fortire dd {
	height: 22px;
}

.fortire select {
	height: 16px;
	font-size: 11px;
	border-bottom: none;
}

.fortire .box1 {
	position: absolute;
	left: 57px;
	top:69px;
}

.fortire .box2 {
	position: absolute;
	left: 57px;
	top:84px;
}

.fortire .box3 {
	position: absolute;
	left: 57px;
	top:98px;
}

/*SEARCH FOR DISK*/

.fordisk {
	float:left;
	position: relative;
	margin-left: 10px;
	width: 264px;
	height: 133px;
	font-size: 9px;
	border: 1px solid #b6b6b7;
	border-radius: 15px;
}

.fordisk_disk dd {
	height: 22px;
}

.fordisk_disk dt {
	width: 72px;
	float: left;
	clear: both;
	line-height: 12px;
}

.fordisk_disk .marg {
	height: 22px;
	margin-top: 10px;
}

.fordisk .fordisk_disk {
	float: left;
	width: 158px;
	border: none;
	border-right: 1px solid #bdc6ca;
	margin-top: 3px;
	margin-left: 17px;
}

.dco dl {
	height: 111px;
}

.fordisk select {
	width: 55px;
	height: 16px;
	border-bottom: none;
	font-size: 11px;
	margin-left: 16px;
}

.fordisk .dco {
	margin-left: 10px;
	float: left;
	width: 65px;
	border: none;
}

.dco dt {
	width: 61px;
	line-height: 12px;
}

.dco select {
	margin-left: 0;
}

.search_dco {
	margin-left: 20px;
	margin-top: 10px;
	font-size: 11px;
	font-style: italic;
	color: #154467;
}

.textgray {
	color: #77858b;
}

select {
	background: right center url(../img/select.png) no-repeat;
}

/*CONTENT LEFT*/
.left-content {
	float: left;
	margin-top: 15px;
}

.left-content li {
	list-style: none;
}

.left-content div {
	border: 1px solid #79898d;
	border-radius: 15px;
}

.left-content h4 {
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 12px;
	color: #114465;
	margin-top: 6px;
}

.prodcatalog {
	position: relative;
	width: 179px;
	height: 25px;
	margin-bottom: 13px;
	box-shadow: 3px 4px 7px 0px rgb (180, 180, 183)
}

.prodcatalog img {
	float: left;
	margin: 2px 5px 0 2px;
}

.prodcatalog-tire {
	width: 149px;
	height: 25px;
}

.prodcatalog-tire img {
	float: left;
	margin-left: 4px;
	margin-right: 4px;
}

.product_list {
	margin-left: 46px;
}

.product_list li {
	list-style-type: circle;
	color: #bec5c8;
}

.product_list a {
	color: #465961;
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 13px;
	text-decoration: none;
}

.product_list a:hover {
	font-style: italic;
	color: #0c3256;
	text-decoration: underline;
	font-weight: 600;
}

.productcatalog-disk {
	width: 149px;
	height: 25px;
}

.productcatalog-disk img {
	float: left;
	margin-left: 4px;
	margin-right: 4px;
}

.productcatalog-bolt {
	width: 149px;
	height: 25px;
}

.productcatalog-bolt img {
	float: left;
	margin-left: 4px;
	margin-right: 4px;
}

.center-content {
	position: relative;
	float: left;
	width: 525px;
	height: 625px;
	margin: 15px 10px 38px;
	border-top: 1px solid #f3f4f4;
	border-bottom: 1px solid #a1b3bb;
	border-radius: 3px;
	background: linear-gradient(to top, #93a7b0, #e4e7e8);
}

.tire_box {
	float: left;
	margin: 16px 15px 17px;
	width: 145px;
	height: 170px;
	text-align: center;
}

.tire_box .plant {
	color: #206988;
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 15px;
}

.tire_box .model {
	margin-left: 3px 0 1px 0;
	color: #1f2528;
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 13px;
	text-align: center;
}

.tire_img {
	position: relative;
	float: left;
	margin-bottom: 4px;
	padding-top: 5px;
	padding-bottom: 8px;
	width: 135px;
	height: 114px;
	background: #fff;
	border: 1px solid #aab3b6;
	border-radius: 6px;
	text-decoration: none;
	text-align: center;
}

.img_tire{
	margin: 0 auto;
} 

.price {
	color: #114165;
	text-align: center;
	font: italic bold 16px Arial;
}

/*RIGHT CONTENT*/
.right-content {
	float: left; ;
	margin-top: 15px;
}

.right-content li {
	list-style: none;
}

.right-content div {
	border: 1px solid #79898d;
	border-radius: 15px;
}

.right-content h4 {
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 12px;
	color: #114465;
	margin-top: 6px;
}

.brend {
	position: relative;
	width: 179px;
	height: 25px;
	margin-bottom: 13px;
	box-shadow: 3px 4px 7px 0px rgb (180, 180, 183)
}

.brend img {
	float: left;
	margin: 2px 5px 0 2px;
}

.brend-tire {
	width: 149px;
	height: 25px;
}

.brend-tire img {
	float: left;
	margin-left: 4px;
	margin-right: 4px;
}


.brend li {
	color: #bec5c8;
}

.brend_list {
	margin-top: 4px;
	margin-bottom: 10px;
}

.brend_list .box{
	color: #465961;
	font-family: "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 13px;
	border: none;
	margin-top: 5px;
	margin-left: 9px;
	vertical-align: center;
}

.brend-disk {
	width: 149px;
	height: 25px;
}

.brend-disk img {
	float: left;
	margin-left: 4px;
	margin-right: 4px;
}

.sub {
	width: 78px;
	height: 25px;
	border-radius: 8px;
	background: linear-gradient(to top, #0c3357, #1f6585);
	font-size: 11px;
	color:  #fff;
	margin-top: 5px;
	margin-left: 9px;
}

.company {
	margin-left: 108px;
	margin-bottom: 22px;
	height: 27px;
	width: 695px;
}
footer {
	position: relative;
	margin: 0 auto;
	width: 910px;
	height: 100px;
	background-color: #213a4d;
}

footer ul {
	float: left;
	width: 492px;
	height: 35px;
	padding-left: 305px;
	padding-top: 15px;
}

footer ul li{
	float: left;
	list-style: none;
	margin-left: 8px;
	color: #b1bcc0;
}

footer ul a{
	margin-top: 4px;
	display: block;
	color: #b1bcc0;
	font-size: 12px;
	line-height: 13px;
	text-align: center;
	text-decoration: none;
}

footer ul a:hover {
	color: #52abcb;
}

footer p {
	float: left;
	margin-left: 371px;
	padding: 4px 0 3px 0;
	color: #7f4740;
	font-size: 10px;
}


