*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url(../img/bg.png);
}
.wrapper{
	position: relative;
	margin: 0 auto;
	padding: 0 145px;
	width: 1000px;
	height: 1040px;
}
.header{
	box-shadow: 0px 2px 0px 2px rgba(122,122,122,0.5);
}
.logo{
	position: relative;
	overflow: hidden;
	background: #ffffff;
}
.contact{
	float: right;
	color: #6eacc0;
	padding-right: 30px;
}
.country{
	position: absolute;
	top:100px;
	left: 620px;
}
.country ul{
	padding: 20px 30px 0;
}
.country li{
	float: left;
	list-style: none;
}
.country a{
	line-height: 65px;
	padding: 0 5px;
}
.photo{
	margin-bottom: 1px;
	height: 235px;
	border-top:2px solid #128aa7;
	border-bottom:3px solid #128aa7; 
}
.clearfix:after{
	content: '';
	display: block;
	clear:both;
	height: 0;
	width: 100%;
}
.menu{
	border-bottom: 1px solid #000;
	background-image: -webkit-gradient(	linear,	left top,	left bottom, color-stop(0, #303030),	color-stop(1, #373737)	);
	background-image: -o-linear-gradient(bottom, #303030 0%, #373737 100%);
background-image: -moz-linear-gradient(bottom, #303030 0%, #373737 100%);
background-image: -webkit-linear-gradient(bottom, #303030 0%, #373737 100%);
background-image: -ms-linear-gradient(bottom, #303030 0%, #373737 100%);
background-image: linear-gradient(to bottom, #303030 0%, #373737 100%);
box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
.menu li{
  position: relative;
  float: left;
  list-style: none;
}
.menu li a{
  position: relative;
  padding: 0 33px;
  display: block;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.menu ul+a:after{
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 10px;
  height: 6px;
  width: 5px;
}
.menu ul{
  position: absolute;
  left: 23px;

  visibility: hidden;
  top: 0;
  opacity: 0;
}
.menu li:hover ul{
  visibility: visible;
  opacity: 1;
  top: 100%;
  z-index: 1;
}
.menu ul li{
  background: #303030;
}
.menu ul a{
  padding: 0 10px;
}
small{
	font-size: 9px;
}
.fon{
	width: 970px;
	background: url(../img/colum.jpg) repeat-y;
	float: left;
	position: relative;
	padding: 15px;
	box-shadow: 0px 2px 0px 2px rgba(122,122,122,0.5);
}
.fon h1{
	color: #424c43;
	font-size: 17px;
}
.fon p{
	color: #424c43;
	font-size: 16px;
	line-height: 1.5;
}
.info{
	width: 19%;
	float: left;
}
.content{
	width: 62%;
	float: left;
}
.content p{
	color: white;
}
.news{
	width: 19%;
	float: right;
	margin: 0 auto;
}
.footer p{
position: absolute;
bottom: 5px;
padding: 0px 350px 0px 350px;
color: #dee7ee;
}
