*{
	margin: 0;
	padding: 0;

}
.wrapper{
	position: relative;
	margin: 0 auto;
	width: 910px;
	height: 1295px;
	font-family: "Lucida Sans Unicode", sans-serif;
}
/*Header*/
header{
	height: 315px;
	margin-top: 12px;
	position: relative;
}
.phone{
	float: left;
	height: 23px;
	width: 295px;
	margin-top: 5px;
	margin-left: 5px;
	color: #5e696d;
	font-size: 18px;
	font-family: Arial;
	vertical-align: 4px;
	letter-spacing: 0.5px;
}
.phone img{
	float: left;
	margin-right: 5px;
}
.phone span{
	line-height: 23px;
}
.registration{
	position: relative;
	float: left;
	width: 495px;
	height: 28px;
	margin-left: 13px;
	background: linear-gradient(to top, #0c3357, #1f6787);
	border-radius: 3px;
}
.registration img{
	margin: 5px 4px 5px 8px;
	float:left;
}
.registr{
	position: relative;
	float: left;
	width: 273px;
	height: 28px;
}
/*input{
	float: left;
	margin-left: 25px;
}*/
#login{
	margin: 3px 4px 4px 0px;
	width: 110px;
	height: 16px;
	box-shadow: 2px rgba(0,0,0,0.5);;
	float: left;
	font-size: 11px;
}
#password{
	margin: 3px 4px 4px 0px;
	width: 112px;
	height: 16px;
	float: left;
	font-size: 11px;
}
#submit{
	float: left;
	width: 35px;
	height: 28px;
	background-color: rgba(0,0,0,0);
	border: none;
	font-size: 11px;
	color: #fff;
}
.reg{
	line-height:28px;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
}
.reg:before {
	content: '';
    border-left: 1px solid #FFFFFF;
    height: 6px;
    margin: 0 5px 0 0;
}
.forgot{
	margin-left: 10px;
	line-height:28px;
	font-size: 12px;
	color: #bfbfbf;
}
.nav{
	position: relative;
	float:right;
	margin-top: 2px; 
	margin-right: 8px;
	height: 20px;
	width: 76px;
	border: 1px solid #bfbfbf;
	border-radius: 10px;
}
.nav li{
	float: right;

	list-style: none;
}
.nav a{
	line-height: 20px;
	padding-right: 8px;
	padding-top: 1px;
}
.title{
	margin-top: 10px;
}
.menu{
	position: relative;
	width: 910px;
	height: 35px;
	background: linear-gradient(to top, #010101, #4d5663);
	border-radius: 5px;
}
.main_menu{
	float: left;
	width: 492px;
	height: 35px;
	padding-left: 126px;
}
.main_menu li{
	float: left;
	list-style: none;
}
.main_menu a{
	margin-top: 4px;
	padding: 0 19px;
	display: block;
	color: #b1bcc0;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	text-decoration: none;
}
.main_menu .oplata{
	padding:0 15px;
}
.main_menu .del{
	padding:0 14px;
}
.main_menu .art{
	padding:0 14px;
}
.main_menu .cont{
	padding:0 7px;
}
.main_menu a:hover{
	background: linear-gradient(to top, #09233b, #25617b); 
	border-radius: 20px;
	color: #fff;
}
.basket {
	float: left;
	position: relative;
	height: 35px;
	width: 278px;
	color:#73797d;
	font-size: 11px;
	padding-right: 12px;
}
.basket img{
	float: right;
	margin: 8px 0px 8px 0px;
}
.basket span{
	float: right;
	line-height: 35px;

}
.blue{
	color: #0d5a8f;
	font-size: 12px;
}
.gray1{
	padding-left: 14px;
	padding-right: 11px;
}
.gray2{
	padding-left: 7px;
}
/*CONTENT*/
.content{
	position: relative;
	margin-top:12px;
	height: 135px;
}
/*SEACH FOR Auto*/
.forauto{
	float: left;
	position: relative;
	margin-left: 5px;
	width: 412px;
	height: 133px;
	font-size: 9px;
	border: 1px solid #b6b6b7;
	border-radius: 15px;
}
.forauto_disk{
	float: left;
	height: 114px;
	width: 177px;
	margin-left: 17px;
	margin-top: 3px;
	border: none;
}
dl{
	height: 95px;
	margin-top: 5px;
}
legend{
	font-family: Arial;
	font-size: 10px;
	font-weight: 900;
	color: #154468;
}
.forauto_disk dt{
	width: 72px;
	float: left;
	clear: both;
}
.forauto_disk dd{
	float: right;
}
.forauto_disk select{
	height: 16px;
	width: 100px;
	border-bottom: none;
}
.marka{
	margin-bottom: 6px;
}
.forauto_disk .year{
	width: 60px;
	margin-right: 41px;
}
.forauto_tire{
	float: left;
	height: 118px;
	width: 177px;
	margin-top: 1px;
	margin-left: 27px;
	border: none;
}
.forauto_tire dt{
	width: 72px;
	float: left;
	clear: both;
}
.forauto_tire dd{
	float: right;
}
.forauto_tire select{
	height: 16px;
	width: 100px;
	border-bottom: none;
}
.forauto_tire .year{
	width: 60px;
	margin-right: 41px;
}
.forauto_tire legend{
	text-align: right;
}
.search{
	margin-left: 122px;
	font-size: 11px;
	font-style: italic;
	color: #154467;
}
.titletire{
	position: absolute;
	top:1px;
	left: 125px;
	font-family: Arial;
	font-size: 12px;
	font-weight: 900;
	color: #154468;
}
/*Search for tire*/
.fortire{
	float: left;
	position: relative;
	margin-left: 15px;
	width: 190px;
	height: 133px;
	font-size: 9px;
	border: 1px solid #b6b6b7;
	border-radius: 15px;
}
.fortire fieldset{
	float: left;
	height: 124px;
	width: 177px;
	margin-left: 10px;
	margin-top: 1px;
	border: none;
}
.fortire dt{
	width: 49px;
	float: left;
	clear: both;
}
.fortire dd{
	height: 22px;
}
.fortire select{
	height: 16px;
	font-size: 11px;
	border-bottom: none;
}
.fortire .box1{
	position: absolute;
	left: 57px;
	top:69px;
}
.fortire .box2{
	position: absolute;
	left: 57px;
	top:84px;
}
.fortire .box3{
	position: absolute;
	left: 57px;
	top:98px;
}
/*SEARCH FOR DISK*/

.fordisk{
	float:left;
	position: relative;
	margin-left: 10px;
	width: 264px;
	height: 133px;
	font-size: 9px;
	border: 1px solid #b6b6b7;
	border-radius: 15px;
}
.fordisk_disk dd{
	height: 22px;
}
.fordisk_disk dt{
	width: 72px;
	float: left;
	clear: both;
	line-height: 12px;
}
.fordisk_disk .marg{
	height: 22px;
	margin-top: 10px;
}
.fordisk .fordisk_disk{
	float: left;
	width: 158px;
	border: none;
	border-right: 1px solid #000;
	margin-top: 3px;
	margin-left: 17px;
}
.dco dl{
	height: 111px;
}
.fordisk select{
	width: 55px;
	height: 16px;
	border-bottom: none;
	font-size: 11px;
	margin-left: 16px;
}
.fordisk .dco{
	margin-left: 10px;
	float: left;
	width: 65px;
	border: none;
}
.dco dt{
	width: 61px;
	line-height: 12px;
}
.dco select{
	margin-left: 0;
}
.search_dco{
	margin-left: 20px;
	margin-top: 10px;
	font-size: 11px;
	font-style: italic;
	color: #154467;
}
/*CONTENT MODDLE*/
.content_middle{
	position: relative;
	width: 100%;
	height: 767px;
}
.left_colum{
	width: 21%;
	float: left;

}
.center_colum{
	width: 58%;
	float: left;
}
.right_colum{
	width: 21%;
	float: left;
}
/*
.left_colum .left_title{
	font-size: 12px;
	line-height: 24px;
	color: #114165;
	border: 1px solid #114165;
	border-radius: 12px;
}*/
